/*Changes font for entire site to Nunito Sans*/
*{
	font-family: nunito sans;
}
/*Sets size and text color for website contents*/
body{
	max-width: 1499px;
	min-width: 499px;
	padding:0px 100px;
	color: #7413dc;
}
/* sets link colour to Scouts purple*/
body [href]{
	color: #7413dc;
}
/*Changes table size to work with body sizing and content*/
table{
	margin: 0 auto;
}
/* Changes colour of hyperlinks when mouse hovers*/
a:hover{
	color: blue;
}

body a:hover{
	color: blue;
}
/*Adjusts settings for heading class*/
.heading{
	background-color: royalblue;
	height: 75px;
	text-align: center;
	line-height:75px;
	color: yellow;
	font-size: 2vw;
}
/*Changes settings for navigation class*/
.navigation{
	padding: 10px;
	background-color: #7413dc;
}
/*Changes hyperlink colours to white in navigation*/
.navigation [href]{
	color: white;
	font-size: 12pt;
}
/*Gives space around each hyperlink in the navigation bar*/
.plink{
	padding: 5px;
}
/*Changes settings for the footer bar*/
.footing{
	padding: 0px;
	padding-left: 1px;
	background-color: #7413dc;
	color: white;
	font-size: 10pt;
}
/*Adjusts settings for badgetable class *//*ONLY ADJUST OR USE FOR BADGES PAGE*/
.badgetable{
	max-width: 1400px;
	text-align: center;
	padding-top: 15px;
	
}
/*adjust class: tablehead*/
.tablehead{
	color: white;
	line-height: 20px;
	background-color: #7413dc;
	text-align: center;
	vertical-align: bottom;
	padding-top: 15px;
	font-size: 12pt;
}
/*Adjusts table contents sizing*/
table td{
	padding: 5px auto;
	font-size: 10pt;
}
/*adjusts main class*/
.main{
	padding: 0px 15px;
}

/*Changes anything with the cub class to have Scout green background and white text*/
.cub{
	background-color: #23a950;
	color: white;
}
/*Changes anything with the scout class to have Scout section green background and white text*/
.scout{
	background-color: #004851;
	color: white;
}
/*Changes anything in the venture class to have Scout navy background and white text*/
.venture{
	background-color: #003982;
	color: white;
}
/*Gives table head purple background with white text*/
th{
	background-color: #7413dc;
	color: white;
}
